#home {
    background: url(images/6928013157_2f1054eb54_o.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 100%;
}

#me{
    background: url(images/6928013157_2f1054eb54_o.jpg) center center fixed no-repeat;
    background-size: cover;
    min-height: 110%;
}

#me p{
    background-color: rgba(0,0,0,0.6);
/*    margin: 0% 20% 0% 20%;*/
    padding: 5%;
    border-radius: 10%;
    border-style: solid;
    border-width: thin;
    border-color: #000;
    box-shadow: 3px 3px 5px #000;
    color: #DDD;
}

#portfolio{
    background: url(images/piano.jpg) center center fixed no-repeat;
    background-size: cover;
    min-height: 110%;
}

#contact{
    background: url(images/wave.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 100%;
}


.subtitle {
    padding: 10%;
    color: #DDD;
    text-shadow: 3px 3px  5px #000;
}

.homearrow {
    display: block;
}

.homearrow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.homebutton {

}

.homebutton a{
    display: inline-block;
    padding-left: 43.5%;
    padding-right: 43.5%;
}

.homebutton a img{
    width: 12%;
    min-width: 100px;
    position: absolute;
    bottom: 0;

}

h1 {
    font-size: 300%;
}


.profilepic {
    max-width: 70%;
    min-width: 60%;
/*    margin: 0% 20% 0% 20%;*/
    border-radius: 10%;
    border-style: solid;
    border-width: thin;
    box-shadow: 3px 3px 5px #000;
    overflow: scroll;
}

.imgtextbox {
    margin:0% 10% 5% 10%;
    height: auto;
    text-align: center;
    display: block;
    overflow: auto;
}

.imgtextbox:after {
    clear: both;
}

.portfolioitem img{
    max-width: 80%;
    margin: 5% 0 0 0;
    
}

.player {
    text-align: center;
    margin-bottom: 5%;
    display: block;
}

.clearer {
    clear:both;
}

.btncontact div button{
    box-shadow: 0px 0px 5px #000;
    
}

.mybutton {
    font-family: sans-serif;
    font-size: 150%;
    background-color: #CCC;
    border-radius: 8px;
    margin: 5%;
}

.overlay-port {
    background:rgba(0,0,0,.75);
/*    text-align:center;*/
    height: 100%;
/*  padding:45px 0 66px 0;*/
    opacity:0;
    border-radius: 3px;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: relative;
}

.overlay-port:hover{
    opacity: 1;
}

.portfolioitem {
    background: url(images/placeholder1.png) center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000;
    display: inline-block;
    overflow: auto;
    height: 25%;
    width: 25%;
    min-width: 200px;
    margin: 0.2em;   
}

.plus {
/*
    width: auto;
    height: auto;
*/
    font-weight: 900;
    font-size: 400%;
    color: white;
    display: block;
    opacity: 0.7;
    
/*    text-align: center;*/
    
}


